body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url(img/background.jpg);
}

#HorizontalMenu{
position: fixed;
left: 30px;
top: 0;
margin-top: 50px;
}

#gameinfo{
text-align: right;
color: #000000;
}

li {
display: flex;
flex-direction: column;
}

li button {
text-shadow: 0px 1px 0px rgb(63, 36, 0), 0px 2px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 3px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 4px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 5px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 6px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 7px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 8px 7px #001135;
font: 80px 'ChunkFiveRegular';
padding: 10px;
font-weight: 600;
font-size: 40px;
color:rgb(87, 49, 0);;
background-color: transparent;
border-radius: 6px;
border: none;
}
 
 #container h1{
text-align: center; 
color: rgb(87, 49, 0);
text-shadow: 0px 1px 0px rgb(63, 36, 0), 0px 2px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 3px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 4px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 5px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 6px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 7px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 8px 7px #001135;
font: 65px 'ChunkFiveRegular';
}

#container h3{
text-align: center; 
color: rgb(87, 49, 0);
text-shadow: 0px 1px 0px rgb(63, 36, 0), 0px 2px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 3px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 4px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 5px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 6px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 7px 0px rgb(63, 36, 0), 0px 2px 0px, 0px 8px 7px #001135;
font: 35px 'ChunkFiveRegular';
}

#header{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 15px;
margin: 10px 10px 0 10px;
}

#board{
border-radius: 5px;
padding: 1vw;
margin-top: 3vh;
}

#board button{
width: 3vw;
height: 3vw;
margin: 1vw;
border: 1px solid #999;
border-radius: 50px;
}

#board button.hidden{
visibility: hidden;
}

#board button.peg{
background-color: #814501;
border: 2px solid #4e2a01;
border-radius: 50px;
box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}

#board button.peg:hover{
background-color: #00000f;
}

#board button.peg:active{
background-color: #381e00;
}

#board button.hole{
background-color: #333333;
border-radius: 50px;
border: 2px solid #422300;
box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}

#board button.hole:hover{
cursor: default;
}

#board button.selected{
background-color: #271801;
border: 2px solid #976e2d;
border-radius: 50px;
box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}

#board button.selected:active{
background-color:  #271801;
}

#board button.suggestion{
background-color: rgb(122, 21, 21);
border: 2px solid #5f1414;
box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65) 
}

#footer{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 15px;
margin: 15px 10px 0 10px;
}

