body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #8b8a8a;
}
#container{
  border: 7px #000066 solid;
}

#container h1{
  text-align: center; 
font-family: Arial Black; 
font-weight: bold; font-size: 35px; 
background: #202020; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
#container h3{
  text-align: center; 
font-family: Arial Black; 
font-weight: bold; font-size: 35px; 
background: #202020; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}


#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: 	 #8b8a8a ;
  padding-top: 15px;
  margin: 10px 10px 0 10px;
}

#board{
    background-color: #8b8a8a;
    border-radius: 5px;
    padding: 1vw;
    margin-top: 3vh;
  }
  #board button{
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    border: 1px solid #999;
    border-radius: 50px;
  }

  #board button.hidden{
    visibility: hidden;
  }

  #board button.peg{
background-color: #0000aa;
    }
    #board button.peg:hover{
background-color: #00000f;
}

#board button.peg:active{
background-color: #000066;

    }
    #board button.hole{
  background-color: #333333;
    }
    #board button.hole:hover{
cursor: default;
    }
    #board button.selected{
  background-color: #3b753b;
}
#board button.selected:active{
  background-color: #368536;
}

#board button.suggestion{
  background-color: rgb(122, 21, 21);
}
#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #8b8a8a ;
  padding-top: 15px;
  
  margin: 15px 10px 0 10px;
  
  }