body{
  margin: 50px;/*le agregeue margen porque si no la parte superior no se veia*/
  background: rgba(333, 207, 206, 0.863);
}
.ball-place{
    background-color: #015EBB;
    border: 2px solid #013D78;
    /*align-items: center;*/
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
  
  }